.lineTrogh{
    text-decoration: line-through;
    color: #ccc;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.parent{
    transform:scale(0.9) ;
    transition: all 0.4s ease;
}
.parent:hover{
    transform:scale(1) ;
    box-shadow: 8px 8px 10px rgba(190, 75, 22, 0.486);
}
.todo{
    width: 85%;
    margin: auto;
}
